<!--
    <img class="ui tiny image"
    *ngIf="offer.images"
    [src]="offer.images[0].url">-->

<div class="content" *ngIf="offer">
  <div class="header">{{ offer?.headline }}</div>
  <div class="sub">{{ offer?.subject }}</div>
  <div class="description">{{ offer?.description }}</div>
  <div class="metadata">
    <div class="user">{{ offer?.user?.name }}</div>
    <span *ngFor="let date of availableDates(); last as l">
      <div class="ui tiny grey labeled icon button disabled" [class.green]="date.user_id === authService.getCurrentUserId()">
        <i class="calendar icon"></i>{{ date.day }} {{ date.time }}
      </div>
          <!--{{ date.day }} {{ date.time }}<span *ngIf="!1">,</span>-->
        </span>
  </div>
</div>
