<div class="ui container" *ngIf="offer">
  <button [routerLink]="'/offers'" class="ui grey button">Zurück zur Übersicht</button>

  <div class="four wide column">
    <!--<img class="ui large image" *ngIf="book.images && book.images[0]"
         [src]="book.images[0].url">-->
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ offer.headline }}</h1>
    <h3 class="ui header">{{ offer.subject }}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Tutor</h4>
        {{ offer.user?.name }}
      </div>
      <div class="four wide column">
        <h4 class="ui header">ID</h4>
        {{ offer.id }}
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{ offer.description }}
  </div>

  <ng-container *ngIf="authService.isLoggedIn()">
    <div>
    <span *ngFor="let date of bookableDates()">
      <button class="ui tiny grey labeled icon button"
              [class.green]="isBookedByMe(date) || (authService.isTutor() && date.user_id)" (click)="makeBooking(date)"
              [disabled]="isBookedByMe(date) || authService.isTutor()">
        <i class="calendar icon"></i>{{ date.day }} {{ date.time }}
      </button>
    </span>
    </div>
  </ng-container>
  <div class="ui divider"></div>
  <ng-container *ngIf="authService.isLoggedIn() && authService.isTutor()">
    <button class="ui tiny red labeled icon button" (click)="removeOffer()">
      <i class="remove icon"></i>
      löschen
    </button>

    <a class="ui tiny yellow labeled icon button" [routerLink]="['../../admin', offer?.id]">
      <i class="edit icon"></i>
      bearbeiten
    </a>
  </ng-container>




</div>




