<div class="ui container">
  <bs-search class="column" (offerSelected)="offerSelected($event)"></bs-search>

  <a *ngIf="authService.isLoggedIn() && authService.isTutor()" routerLink="../admin" class="ui grey button">Neues Angebot anlegen</a>
  <div class="ui middle aligned selection divided list">
    <a *ngFor="let offer of offers" class="item bs-tutoring-offer-list-item"
       [offer]="offer" [routerLink]="[offer.id]"></a>

    <div *ngIf="offers && !offers.length" class="ui active dimmer">
      <div class="ui large text loader">
        Angebote werden geladen.
      </div>
      <p>Momentan keine Angebote verfügbar.</p>
    </div>


  </div>

</div>


