<div class="ui header center aligned">
  <h1 class="ui h1">KWM GO STUDENT</h1>
</div>

<div class="ui four item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="offers" routerLinkActive="active" class="item">Nachhilfe-Angebote</a>
  <a routerLink="tutors" routerLinkActive="active" class="item">TutorInnen</a>
  <a routerLink="admin" routerLinkActive="active" class="item">Admin</a>
</div>

<router-outlet></router-outlet>



<!-- LOADING SPINNER
<div class="ui active inverted dimmer">
  <div class="ui text loader large">KWM GO Student wird geladen...</div>
</div>-->
