<div class="ui header center aligned">
  <h1 class="ui h1">KWM GO STUDENT</h1>
</div>

<div class="ui inverted menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="offers" routerLinkActive="active" class="item">Nachhilfe-Angebote</a>
  <a routerLink="tutors" routerLinkActive="active" class="item">TutorInnen</a>

  <!-- BEREICHE JE NACH USER ROLLE -->
  <a *ngIf="authService.isLoggedIn() && !authService.isTutor()" routerLink="booked" routerLinkActive="active" class="item">Mein Bereich</a>
  <a *ngIf="authService.isLoggedIn() && authService.isTutor()" routerLink="admin" routerLinkActive="active" class="item">Admin</a>
  <!--
  && !authService.isCurrentUserTutor()"
  && authService.isCurrentUserTutor()"-->

  <div class="right menu">
    <a *ngIf="!authService.isLoggedIn()" routerLink="login" routerLinkActive="active" class="item">Login</a>
    <a *ngIf="authService.isLoggedIn()" routerLink="logout" routerLinkActive="active" class="item" (click)="logout()">Logout</a>
  </div>

</div>

<div class="ui container">
  <router-outlet></router-outlet>
</div>




<!-- LOADING SPINNER
<div class="ui active inverted dimmer">
  <div class="ui text loader large">KWM GO Student wird geladen...</div>
</div>-->
